@namespace Application.Pages
@using Business
@using Models.Builder;
@using Models.Common;

@inherits BaseItemViewer;
<div>
    <figure class="card card--normal" id="@GetElementId()">
      <ContextMenuTrigger MenuId="@GetMenuId()">
      <div class="card__image-container">
        <img src=@GetGrenadeImage alt="gold" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name"> A grenade!</h1>
        
        <h3 class="card__type">
         Grenade
        </h3> 
      </figcaption>
      </ContextMenuTrigger>
    </figure>

    <ContextMenu Id="@GetMenuId()">
      <BlazorContextMenu.Item OnClick="@Download"><span class="oi oi-data-transfer-download icon-download"></span> Download</BlazorContextMenu.Item>
      <BlazorContextMenu.Item OnClick="@Copy"><span class="oi oi-clipboard icon-copy"></span> Copy to clipboard</BlazorContextMenu.Item>
    </ContextMenu>

</div>
@code {

    public string GetGrenadeImage => $"images/resources/grenades/grenade.png";

    public override string GetFileName()
    {
      return "grenade.png";
    }
}