@namespace Application.Pages
@using Business
@using Business.Models;
@using Business.Models.Common;
@implements IAsyncDisposable
@inject IJSRuntime JS

@if (CraftedGrenade == null)
{
  <div class="spinner"></div>
}
else
{
  <div id="cards">  

    <figure class=@GetCardCssClass id="lewt">
      <div class="card__image-container">
        <img src=@GetGrenadeImage alt="grenade" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name normal"> @CraftedGrenade.Effect</h1>
        
        <h3 class="card__type">
         @CraftedGrenade.GrenadeType
        </h3>

        <h3 class="card__guild">
          @CraftedGrenade.Guild
        </h3>

        <table class="card__stats">
          <tbody>            
            <tr>
              <th>Damage</th>
              <td>
                @for (int index = 0; index < CraftedGrenade.AmountOfDice; index++)
                {
                  <img class="dice_small" src="@GetDiceImage" alt="@CraftedGrenade.DiceType">
                }                
              </td>
            </tr>
          </tbody>
        </table>        
      </figcaption>
    </figure>
  </div>
  <button @onclick="Download" class="btn btn-primary">Download</button>
}

@code {
    [Parameter]
    public Grenade CraftedGrenade { get; set; }

    private IJSObjectReference? module;
    private string? result;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/index.js");
        }
    }

    private async Task Download()
    {
        result = await DownloadImage("cards");
    }

    public async ValueTask<string?> DownloadImage(string id) =>
        module is not null ? 
            await module.InvokeAsync<string>("downloadCard", id) : null;

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if (module is not null)
        {
            await module.DisposeAsync();
        }
    }

    public string GetCardCssClass => $"card card--{CraftedGrenade.Element.ToString().ToLower().Replace(", ","_")}";

    public string GetDiceImage => $"images/resources/dice/{CraftedGrenade.DiceType}.png";

    public string GetGrenadeImage => $"images/resources/grenades/{CraftedGrenade.Guild}.png";
}