@namespace Application.Pages
@using Business
@using Models.Builder;
@using Models.Common;
@inherits BaseItemViewer;

<div>
  <figure class=@GetCardCssClass id="@GetElementId()">
      <ContextMenuTrigger MenuId="@GetMenuId()">
      <div class="card__image-container">
        <img src=@GetGrenadeImage alt="grenade" class="card__image"> 
        <img src="@GetGuildImage" alt="@CraftedGrenadeMod.Guild" class="card__guild_image"> 
      </div>
      
      <figcaption class="card__caption">
        <h1 class="card__name">@GetCardLabel</h1>

        <h3 class="@GetCssClassCardType">
          Grenade Mod
        </h3>

        <div class="card_label">@CraftedGrenadeMod.Effect</div>
                
        <table class="card__stats">
          <tbody>            
            <tr>
              <th>Damage</th>
              <td>
                @for (int index = 0; index < CraftedGrenadeMod.AmountOfDice; index++)
                {
                  <img class="dice_small" src="@GetDiceImage" alt="@CraftedGrenadeMod.DiceType">
                }                
              </td>
            </tr>
          </tbody>
        </table>        
      </figcaption>
      </ContextMenuTrigger>
    </figure>

    <ContextMenu Id="@GetMenuId()">
      <BlazorContextMenu.Item OnClick="@Download"><span class="oi oi-data-transfer-download icon-download"></span> Download</BlazorContextMenu.Item>
      <BlazorContextMenu.Item OnClick="@Copy"><span class="oi oi-clipboard icon-copy"></span> Copy to clipboard</BlazorContextMenu.Item>
    </ContextMenu>

</div>

@code {
    [Parameter]
    public GrenadeMod CraftedGrenadeMod { get; set; }

    [Parameter]
    public bool UseBorderlandsManufacturers { get; set; } = false;

    public string GetCardCssClass => $"card card--{CraftedGrenadeMod.Rarity.ToString().ToLower()}";

    public string GetCardLabel => CraftedGrenadeMod.Element != Element.None ? CraftedGrenadeMod.Element.ToString() : CraftedGrenadeMod.GrenadeType;

    public string GetCssClassCardType => $"card__type {(CraftedGrenadeMod.Element != Element.None ? CraftedGrenadeMod.Element.ToString().ToLower() : "normal")}";

    public string GetDiceImage => $"images/resources/dice/{CraftedGrenadeMod.DiceType}.png";

    public string GetGrenadeImage => $"images/resources/grenades/{CraftedGrenadeMod.Guild}.png";

    public string GetGuildImage => $"images/resources/guilds/{(UseBorderlandsManufacturers? CraftedGrenadeMod.AlternateGuildName : CraftedGrenadeMod.Guild)}.png";

    public override string GetFileName()
    {
      return $"GrenadeMod_{CraftedGrenadeMod.Guild}_{CraftedGrenadeMod.GrenadeType}.png";
    }
}