@namespace Application.Pages
@using Business
@using Models;
@using Models.Builder;
@inherits BaseItemViewer;

    <figure class="@GetCardCssClass" id="@GetElementId()" @onclick="Download">
      <div class="card__image-container">
        <img src="@GetGunImage" alt="@CraftedGun.GunType" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="@GetCssClassCardCaption">@CraftedGun.Name</h1>        
        
        <h3 class="@GetCssClassCardType">
          @CraftedGun.Element.ToString()
        </h3>

        <h3 class="card__guild">
          @CraftedGun.Guild
        </h3>

        @if (CraftedGun.RedText != null)
        {
          <div class="card__redtexts">
            <h4 class="card__redtext">
              <span class="card__label">@CraftedGun.RedText.Name</span>            
            </h4>
          </div>
        }        

        <table class="card__stats">
          <tbody>            
            <tr>
              <th>Damage</th>
              <td>
                @for (int index = 0; index < CraftedGun.AmountOfDice; index++)
                {
                  <img class="dice_small" src="@GetDiceImage" alt="@CraftedGun.DiceType">
                }
                @for (int index = 0; index < CraftedGun.ExtraAmountOfDice; index++)
                {
                  <img class="dice_small" src="@GetExtraDiceImage" alt="@CraftedGun.ExtraDiceType">
                }
                
              </td>
            </tr>
            
            <tr>
              <th>Range</th>
              <td>@CraftedGun.Range</td>
            </tr>
          </tbody>
        </table>

        <table class="card__hits">
          <caption>Hits By Accuracy</caption>
          <tbody>            
              @foreach(var hit in CraftedGun.HitsByAccuracy)
              {
                <tr>
                  <th>@hit.Label</th>
                  <td>@hit.Hits<img class="icon icon-header" src="images/open-iconic/svg/header.svg" alt="Header"></td>
                  <td>@hit.Crits<img class="icon icon-aperture" src="images/open-iconic/svg/aperture.svg" alt="Aperture"></td>
                </tr>
              }
          </tbody>
        </table>
        
        <div class="card__abilities">
          @foreach(var bonus in CraftedGun.Bonuses)
          {
            <h4 class="card__ability">
              <span class="card__label">@bonus</span>            
            </h4>
          }
        </div>
 
        <img src=@GetWeaponTypeImage alt="@CraftedGun.GunType" class="card__image gun-icon" >

        
      </figcaption>
    </figure>

@code {
    [Parameter]
    public Gun CraftedGun { get; set; }

    public string GetCardCssClass => $"card card--{CraftedGun.Rarity.ToString().ToLower()}";
    
    public string GetGunImage => $"images/resources/guns/{CraftedGun.GunType}.png";

    public string GetWeaponTypeImage => $"images/resources/icons/guns/{CraftedGun.GunType.ToString().ToLower()}.png";
    
    public string GetCssClassCardCaption => $"card__name";

    public string GetCssClassCardType => $"card__type {CraftedGun.Element.ToString().ToLower().Replace(", ","-")}";

    public string GetDiceImage => $"images/resources/dice/{CraftedGun.DiceType}.png";

    public string GetExtraDiceImage => $"images/resources/dice/{CraftedGun.ExtraDiceType}.png";

    public override string GetElementId()
    {
      return $"Gun_{CraftedGun.Guild}_{CraftedGun.Name.Replace(" ","_")}";
    }

    public override string GetFileName()
    {
      return $"Gun_{CraftedGun.Guild}_{CraftedGun.Name.Replace(" ","_")}.png";
    }
}