@namespace Application.Pages
@using Models.Builder;
@using Models.Common;
@inherits BaseItemViewer;

<div>
    <figure class=@GetCardCssClass id="@GetElementId()">
      <ContextMenuTrigger MenuId="@GetMenuId()">
        <div class="card__image-container">
          <img src=@GetImage alt="potion" class="card__image">   
        </div>
        <figcaption class="card__caption">
          <h1 class="card__name">@CraftedMoxxTail.Name</h1>
          
          <h3 class="card__type">Moxx-Tail</h3>

          <span class="card_effect">
            @CraftedMoxxTail.Effect
          </span>        
        </figcaption>
      </ContextMenuTrigger>
    </figure>

    <ContextMenu Id="@GetMenuId()">
      <BlazorContextMenu.Item OnClick="@Download"><span class="oi oi-data-transfer-download icon-download"></span> Download</BlazorContextMenu.Item>
      <BlazorContextMenu.Item OnClick="@Copy"><span class="oi oi-clipboard icon-copy"></span> Copy to clipboard</BlazorContextMenu.Item>
    </ContextMenu>

</div>


@code {
    [Parameter]
    public MoxxTail CraftedMoxxTail { get; set; }

    public string @GetCardCssClass => "card card--moxxtail";

    public string GetImage => "images/resources/moxxtails/moxxtail.png";

    public override string GetFileName()
    {
      return $"MoxxTail_{CraftedMoxxTail.Name.Replace(" ","_")}.png";
    }
}