@namespace Application.Pages
@using Models.Builder;
@using Models.Common;
@inherits BaseItemViewer;

<div>
    <figure class=@GetCardCssClass id="@GetElementId()">
      <ContextMenuTrigger MenuId="@GetMenuId()">
      <figcaption class="card__caption">
        <h1 class="card__name"> Moxx-Tail</h1>
        
        <h3 class="card__type">
         @CraftedMoxxTail.Name
        </h3>

        <table class="card__stats">
          <tbody>            
            <tr>
              <th>Effect</th>
              <td>@CraftedMoxxTail.Effect</td>   
            </tr>            
          </tbody>
        </table>        
      </figcaption>
      </ContextMenuTrigger>
    </figure>

    <ContextMenu Id="@GetMenuId()">
      <BlazorContextMenu.Item OnClick="@Download"><span class="oi oi-data-transfer-download icon-download"></span> Download</BlazorContextMenu.Item>
      <BlazorContextMenu.Item OnClick="@Copy"><span class="oi oi-clipboard icon-copy"></span> Copy to clipboard</BlazorContextMenu.Item>
    </ContextMenu>

</div>


@code {
    [Parameter]
    public MoxxTail CraftedMoxxTail { get; set; }

    public string @GetCardCssClass => "card card--normal";

    public override string GetFileName()
    {
      return $"MoxxTail_{CraftedMoxxTail.Name.Replace(" ","_")}.png";
    }
}