@namespace Application.Pages
@using Models.Builder;
@inherits BaseItemViewer;
@if (CraftedPotion == null)
{
  <div class="spinner"></div>
}
else
{
  <figure class=@GetCardCssClass  id="@GetElementId()" @onclick="Download">      
      
      <figcaption class="card__caption">
        <h1 class="card__name"> @CraftedPotion.Effect</h1>
        
        <h3 class="@GetCssClassCardType">
         @CraftedPotion.Name
        </h3>

        <table class="card__stats">
          <tbody>            
            <tr>
              <th>Cost</th>
              <td>@CraftedPotion.Cost<img class="icon icon-money" src="images/open-iconic/svg/contrast.svg" alt="Coin"></td>   
            </tr>            
          </tbody>
        </table>        
      </figcaption>
    </figure>
}

@code {
    [Parameter]
    public Potion CraftedPotion { get; set; }

    public string GetCardCssClass => CraftedPotion.IsTinyTinasPotion? "card card--tinytina" : 
                                    CraftedPotion.Rarity != Models.Common.Rarity.Common? $"card card--{CraftedPotion.Rarity.ToString().ToLower()}"
                                    : "card card--normal";

    public string GetCssClassCardType => CraftedPotion.IsElemental? $"card__type {CraftedPotion.Element.ToString().ToLower().Replace(", ","_")}"
                                        : "card__type normal";


    public override string GetElementId()
    {
      return $"Potion-{Guid.NewGuid()}";
    }

    public override string GetFileName()
    {
      return $"Potion_{CraftedPotion.Name.Replace(" ","_")}.png";
    }    
}