@namespace Application.Pages
@using Models.Builder;
@inherits BaseItemViewer;
@if (CraftedRelic == null)
{
  <div class="spinner"></div>
}
else
{
   <figure class="card card--normal"  id="@GetElementId()" @onclick="Download">
      <div class="card__image-container">
        <img src=@GetRelicImage alt="shield" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        <h1 class="@GetCssClassCardCaption">@CraftedRelic.Type</h1>
        
        <h3 class="card__type">
         Relic 
        </h3>

        <table class="card__stats">
          <tr>
              <th>Effect</th>
              <td>@CraftedRelic.Effect</td>   
           </tr>
           <tr>
              <th>@CraftedRelic.PreferredClass</th>
              <td>@CraftedRelic.ClassEffect</td>   
           </tr>      
        </table>        
      </figcaption>
    </figure>
}
@code {
    [Parameter]
    public Relic CraftedRelic { get; set; }
    public string GetRelicImage => $"images/resources/relics/{CraftedRelic.Rarity}.png";
    public string GetCssClassCardCaption => $"card__name rarity_{CraftedRelic.Rarity.ToString().ToLower()}";

    public override string GetElementId()
    {
      return $"Relic_{CraftedRelic.Rarity}_{CraftedRelic.Type}";
    }

    public override string GetFileName()
    {
      return $"Relic_{CraftedRelic.Rarity}_{CraftedRelic.Type}.png";
    }
}