@page "/relic-crafter"
@namespace Application.Pages
@using Models.Builder;
@using Models.Common;
@using Models.Config;
@using Business.Factories;
@using Microsoft.Extensions.Options;

@inject IItemFactory<Relic, RelicRandomizerFactoryParameters> factory;
@inject IOptions<RelicConfigurationOptions> relicConfiguration;
@inject ILogger<RelicCrafter> logger


<PageTitle>B&B: How Mysterious</PageTitle>
<h1>Relic Crafting</h1>
<hr />

<div class="row">
  <div class="col-md-8">
    <EditForm Model=@relic>
      <DataAnnotationsValidator />  
      <ValidationSummary />

     <div class="form-group" >
            <label class="col-md-8 control-label">Relic Name:</label>
            <div class="col-md-8">
                <InputText @bind-Value="relic.Type" name="Relic Name" class="form-control" aria-label="Relic Name"/>
            </div>
        </div>

      <div class="form-group" >
            <label class="col-md-8 control-label">Relic Effect:</label>
            <div class="col-md-8">
                <InputText @bind-Value="relic.Effect" name="Relic Effect" class="form-control" aria-label="Relic Effect"/>
            </div>
        </div>

        <div class="form-group">
        <label class="col-md-8 control-label">Preferred Class:</label>
        <div class="col-md-8">
            <InputSelect Value="@relic.PreferredClass" ValueExpression="@(() => relic.PreferredClass)" ValueChanged="@((string value) => UpdatePreferredClass(value))" class="form-control" aria-label="Preferred Class">
                  @foreach (var pcClass in relicConfiguration.Value.Classes)
                  {
                      <option value="@pcClass" selected>@pcClass</option>
                  }
              </InputSelect>
          </div>
      </div>


        <div class="form-group" >
            <label class="col-md-8 control-label">Class Effect:</label>
            <div class="col-md-8">
                <InputText @bind-Value="relic.ClassEffect" name="Class Effect" class="form-control" aria-label="Class Effect"/>
            </div>
        </div>


        <div class="col-md-8">
            <div class="form-group">
                <label class="col-md-8 control-label">Rarity:</label>
                <div>
                    <InputRadioGroup @bind-Value="relic.Rarity">
                        @foreach (var rarity in (Rarity[])Enum.GetValues(typeof(Rarity)))
                        {
                          @if (rarity != Rarity.Pearlescent)
                          {
                            <InputRadio Value="@rarity" checked="@(rarity == Rarity.Common)"/>
                            <text>&nbsp;</text>
                            @rarity
                            <text>&nbsp;</text>
                          }
                        }
                    </InputRadioGroup>
                </div>
            </div>
          </div>

    <div class="form-group" >
            <label class="col-md-8 control-label">Card Image URL (Optional):</label>
            <div class="col-md-8">
                <InputText @bind-Value="relic.ImageUrl" name="ImageUrl" class="form-control" aria-label="Image Url"/>
            </div>
    </div>    
    </EditForm>
  </div>

  <div class="col-md-4"> 
    <RelicViewer CraftedRelic=@relic/>
  </div>
</div>

@code {
  Relic relic = new Relic();

  void UpdatePreferredClass(string preferredClass)
  {
    relic.PreferredClass = preferredClass;
    this.StateHasChanged();
  }
}
