@namespace Application.Pages
@using Business
@using Models.Builder;
@using Models.Common;

@inherits BaseItemViewer;
<div>
    <figure class="card card--normal" id="@GetElementId()">
      <ContextMenuTrigger MenuId="@GetMenuId()">
      <div class="card__image-container">
        @if (!string.IsNullOrWhiteSpace(CraftedShield.Source))
        {
          <img src="@GetSourceImage" alt="@CraftedShield.Source" class="card__game_icon"> 
        }        
        <img src=@GetShieldImage alt="shield" class="card__image">   
        <img src="@GetGuildImage" alt="@CraftedShield.Guild" class="card__guild_image">
      </div>
      
      <figcaption class="card__caption">
        @if (!string.IsNullOrWhiteSpace(CraftedShield.Name)){
          <h1 class="card__name">@CraftedShield.Name</h1>
        }

        <h3 class="card__type">
         Shield
        </h3>

        <div class="card_label">@CraftedShield.Effect</div>
                
        <div class="card__stats">
          <div>
            <img class="icon_small" src="images/resources/card-icons/shield.png" alt="Shield">
          </div>
          <div class="stat_label">Capacity</div>
          <div>@CraftedShield.Capacity</div>
          <div>
            <img class="icon_small" src="images/resources/card-icons/exchange.png" alt="Recharge Rate">
          </div>
          <div class="stat_label">Recharge Rate</div>
          <div>@CraftedShield.RechargeRate</div>
        </div>        
      </figcaption>
      </ContextMenuTrigger>
    </figure>

    <ContextMenu Id="@GetMenuId()">
      <BlazorContextMenu.Item OnClick="@Download"><span class="oi oi-data-transfer-download icon-download"></span> Download</BlazorContextMenu.Item>
      <BlazorContextMenu.Item OnClick="@Copy"><span class="oi oi-clipboard icon-copy"></span> Copy to clipboard</BlazorContextMenu.Item>
    </ContextMenu>

</div>
@code {
    [Parameter]
    public Shield CraftedShield { get; set; }
    public string GetShieldImage => !string.IsNullOrWhiteSpace(CraftedShield.ImageUrl) 
          ? CraftedShield.ImageUrl 
          : $"images/resources/shields/{CraftedShield.Guild}.png";

    public string GetSourceImage => $"images/resources/game-icons/{CraftedShield.Source}.png";

    public string GetGuildImage => $"images/resources/guilds/{CraftedShield.Guild}.png";


    public override string GetFileName()
    {
      return $"Shield_{CraftedShield.Guild}.png";
    }
}