@namespace Application.Pages
@using Business
@using Models.Builder;
@using Models.Common;

@inherits BaseItemViewer;
<div>
    <figure class="card card--normal" id="@GetElementId()">
      <ContextMenuTrigger MenuId="@GetMenuId()">
      <div class="card__image-container">
        @if (!string.IsNullOrWhiteSpace(CraftedShield.Source))
        {
          <img src="@GetSourceImage" alt="@CraftedShield.Source" class="card__game_icon"> 
        }        
        <img src=@GetShieldImage alt="shield" class="card__image">   
      </div>
      
      <figcaption class="card__caption">
        @if (!string.IsNullOrWhiteSpace(CraftedShield.Name)){
          <h1 class="card__name">@CraftedShield.Name</h1>
        }

        <h3 class="card__type">
         Shield
        </h3>
        
        <h3 class="card__guild">
          @CraftedShield.Guild
        </h3>

        <div class="card_label">@CraftedShield.Effect</div>
                
        <table class="card__stats">
          <tbody>            
            <tr>
              <th>Capacity</th>
              <td>@CraftedShield.Capacity<img class="icon icon-shield" src="images/open-iconic/svg/shield.svg" alt="Shield"></td>   
            </tr>            
            <tr>
              <th>Recharge Rate</th>
              <td>@CraftedShield.RechargeRate<img class="icon icon-rechargerate" src="images/open-iconic/svg/reload.svg" alt="Recharge Rate"></td>                
            </tr>
          </tbody>
        </table>        
      </figcaption>
      </ContextMenuTrigger>
    </figure>

    <ContextMenu Id="@GetMenuId()">
      <BlazorContextMenu.Item OnClick="@Download"><span class="oi oi-data-transfer-download icon-download"></span> Download</BlazorContextMenu.Item>
      <BlazorContextMenu.Item OnClick="@Copy"><span class="oi oi-clipboard icon-copy"></span> Copy to clipboard</BlazorContextMenu.Item>
    </ContextMenu>

</div>
@code {
    [Parameter]
    public Shield CraftedShield { get; set; }
    public string GetShieldImage => !string.IsNullOrWhiteSpace(CraftedShield.ImageUrl) 
          ? CraftedShield.ImageUrl 
          : $"images/resources/shields/{CraftedShield.Guild}.png";

    public string GetSourceImage => $"images/resources/game-icons/{CraftedShield.Source}.png";

    public override string GetFileName()
    {
      return $"Shield_{CraftedShield.Guild}.png";
    }
}