@page "/unassuming-chest"
@namespace Application.Pages
@using Business;
@using Business.Services;
@using Models.Builder;
@using Models.Common;
@using System.Linq;

@inject IChestService<UnassumingChestServiceParameters> service;
@inject ILogger<UnassumingChestCrafter> logger


<PageTitle>B&B: Dice Chests</PageTitle>
<h1>Unassuming Chests</h1>
<hr />

<EditForm Model=@parameters OnValidSubmit="Roll" class="well form-horizontal">
  <DataAnnotationsValidator />  
  <ValidationSummary />

   <div class="mb-3" >
     <label class="col-md-4 control-label">Player Level:</label>
     <div class="col-md-4">
         <InputNumber @bind-Value="parameters.PlayerLevel" name="PlayerLevel" class="form-control" aria-label="Player Level"/>
     </div>
  </div>
  <div class="mb-3">
     <label class="col-md-4 control-label">Favored Gun Type</label>
     <div class="col-md-4">
       <InputSelect @bind-Value="parameters.GunType" class="form-control" aria-label="Gun Type">
              @foreach (var gunType in Enum.GetValues(typeof(GunType)))
              {
                if ((GunType)gunType == GunType.CombatRifle)
                {
                  <option value="@gunType" selected>@(((GunType)gunType).GetDescription())</option>
                }                
                else
                {
                  <option value="@gunType">@(((GunType)gunType).GetDescription())</option>
                }
              } 
        </InputSelect>
    </div>
  </div>
  <div class="mb-3">
    <label class="control-label">Use Borderlands Manufacturers?</label>
    <input type="checkbox" checked="@(UseBorderlandsManufacturers)" @onchange="eventArgs => { UseBorderlandsManufacturers = !UseBorderlandsManufacturers; }">
  </div> 
  <div class="mb-3">
     <label class="col-md-4 control-label">Use Prefixes <input type="checkbox" @bind="parameters.AllowPrefixes" aria-label="Allows Prefixes"/></label>
  </div>
  <div class="mb-3">
     <label class="col-md-4 control-label">Use RedTexts <input type="checkbox" @bind="parameters.AllowRedTexts" aria-label="Allows RedText"/></label>
  </div>
  <hr class="divider">
  <div class="mb-3">
    <input type="submit" class="btn btn-primary" value="Roll"/>
  </div>
</EditForm>
@if (!loading)
{
  <ItemListRenderer chest=@chest UseBorderlandsManufacturers=@UseBorderlandsManufacturers/>
}
else{
  <Loader></Loader>
}

@code {
  UnassumingChestServiceParameters parameters = new UnassumingChestServiceParameters();
  Chest chest = null;

  bool UseBorderlandsManufacturers = false;

  bool loading = false;

  async Task Roll(EditContext editContext)
  {
    loading = true;
    this.StateHasChanged();
    chest = service.OpenChest(parameters);

    await Task.Delay(500);
    loading = false;
    this.StateHasChanged();    
  }
}
